* {
  box-sizing: border-box;
  color: #000;
  background-color: #fff;
 }

body {
  font-family: "Noto Sans JP", sans-serif;
  font-size: 18px;
}

#header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin: 20px auto;
  max-width: 960px;
}

h1 {
  margin: 0 0 0 20px;
  font-size: 34px;
  border: 1px solid black;
  padding: 0px 20px;
}

h1 > a {
  text-decoration: none;
}

.nav {
  font-size: 34px;
  align-items: center;
}

.nav ul {
  padding-left: 0;
  display: flex;
}

.nav li {
   list-style: none;
   padding-left: 30px;
}

.nav a {
  font-weight: bold;
  text-decoration: none;
}

#main {
  height: auto;
}

#main-visual {
  width: 100%;
  height: 100%;
}

#main-visual img {
  width: 100%;
  height: 100%;
}

#about {
  height: auto;
  margin-top: 50px;
}

.index-h2 {
  text-align: center;
  margin-top: 50px;
  /* margin-bottom: 50px; */
}

#about-flex {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}


#about-image {
  width: 50%;
  text-align: center;
}

#about-image img {
  border-radius: 50%;
}

#about-message {
  width: 50%;
  margin: 0;
  padding-top: 50px;
  text-align: left;
}

#name {
  font-size: 24px;
  font-weight: bold;
}


#works-flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
}

.works-image {
  margin: 0 10px;
  padding-bottom: 60px;
  width: 25%;
}

.works-image img {
  width: 100%;
  margin: 0;
}

.works-image p {
  width: 100%;
  margin: 0;
}

#footer {
  text-align: center;
  margin-top: 50px;
}

/* スマホ用表示 */
@media screen and (max-width: 767px) { 
  h1 {
    margin: 0 0 0 20px;
    font-size: 28px;
    border: 1px solid black;
    padding: 0px 20px;
  }
  
  h1 > a {

    text-decoration: none;
  }
  
  h2 {
    padding: 30px 0 20px;
    font-size: 28px;
  }

  .nav a {
    font-size: 21px;
    font-weight: bold;
    text-decoration: none;
  }
  
  .nav li {
    list-style: none;
    margin-left: 0;
 } 
  
  #about-flex {
    display: block;
  }

  #about-image {
    width: 100%;
  }

  #about-message{
    width: 100%;
    margin: auto;
    padding: 0 0 0 100px;
    text-align: left;
  }

  #about-message ul{
    width: 100%;
    text-align: left;
  }

  #works-flex {
    display: block;
  }

  .works-image {
    width: 100%;
    margin: 0 auto 30px auto;
    text-align: center;
  }

  .works-image p {
    width: 100%;
    margin: 0;
  }
}